*

!.github/
!.github/**

!examples/
!examples/**

!src/
!src/**

!test/
!test/**

!.gitignore
!CHANGELOG.md
!deno.json
!deno.lock
!mod.ts
!README.md
!LICENSE
!flake.nix
!flake.lock

debug_*
debug.*
*.debug
.env
.env.local
*.log
*.tmp